export(xl.get.excel)

S3method(dimnames,excel.range)
S3method(dim,excel.range)
export(has.colnames)
export(has.rownames)
export(has.colnames.default)
export(has.rownames.default)
export("has.colnames<-")
export("has.rownames<-")
export(has.colnames.excel.range)
export(has.rownames.excel.range)

export(xl)
export(xlr)
export(xlc)
export(xlrc)
S3method('[',xl)
S3method('[[',xl)
S3method('$',xl)
S3method('[[<-',xl)
S3method('$<-',xl)
S3method('[<-',xl)
export(xl.selection)
export(xl.current.region)

export(current.graphics)

export(xl.write)
export(xl.write.current.graphics)
export(xl.write.list)
export(xl.write.matrix)
export(xl.write.data.frame)
export(xl.write.default)
export(xl.write.factor)
export(xl.write.table)

export(xl.workbooks)
export(xl.workbook.add)
export(xl.workbook.open)
export(xl.workbook.close)
export(xl.workbook.save)
export(xl.workbook.activate)

export(xl.sheets)
export(xl.sheet.add)
export(xl.sheet.delete)
export(xl.sheet.activate)

export(xl.connect.table)
S3method('[',excel.range)
S3method('$',excel.range)
S3method('[<-',excel.range)
S3method('$<-',excel.range)
S3method(sort,excel.range)





# Import all packages listed as Imports or Depends
import(
  RDCOMClient
)
